@model ProjetoFinal.Models.Interesse

@{
    ViewData["Title"] = "Apagar";
}
<h1>Apagar Cliente</h1>

<h3>Tem certeza que quer realizar essa ação?</h3>
<div>
    <h4>Interesse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.N_Assoalhadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.N_Assoalhadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Cliente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
