@model ProjetoFinal.Models.Interesse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Interesse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.N_Assoalhadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.N_Assoalhadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Cliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
