@model IEnumerable<ProjetoFinal.Models.Interesse>

@{
    ViewData["Title"] = "Interesses";
}

<h1>Interesses de Clientes</h1>

<p>
    <a asp-action="Create">Adicionar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.N_Assoalhadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Zona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.N_Assoalhadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Cliente)
            </td>

        </tr>
}
    </tbody>
</table>
